body {
    background-color: rgb(52, 52, 52);
    color: white;
}
div,
.main {
    margin: auto;
    width: 1000px;
}

.menu {
    float: left;
    width: 200px;
    height: 800px;
    color: rgb(40, 40, 40);
    background-color: rgb(200, 200, 200);
}

.canvas {
    display: block;
    float: right;
    width: 800px;
    height: 800px;
    background-color: blueviolet;
}

.header {
    margin: auto;
    width: 1000px;
    padding: 30px;
    text-align: left;
    font-size: 40px;
}

.footer {
    margin: auto;
    width: 1000px;
    padding: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}
a:link {
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}